@media (max-width: 1200px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 10px;
  }

  .header nav ul {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .header nav ul li {
    margin: 10px 0;
  }

  .form__input {
    padding: 15px 50px;
  }
}

/* Adjustments for tablets */
@media (max-width: 768px) {
  .header {
    padding: 5px;
  }

  .logo-color {
    height: 50px;
  }

  .header nav ul {
    width: 100%;
  }

  .header nav ul li {
    width: 100%;
    text-align: center;
  }

  .form {
    width: 90%;
  }

  .form__input {
    padding: 10px 20px;
  }
}

/* Adjustments for mobile screens */
@media (max-width: 480px) {
  .header {
    padding: 5px;
    flex-direction: column;
  }

  .header nav ul {
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }

  .header nav ul li {
    width: 100%;
    text-align: center;
  }

  .form {
    width: 100%;
    padding: 10px;
  }

  .form__input {
    width: calc(100% - 20px);
    padding: 10px;
  }

  .btn--submit {
    width: calc(100% - 20px);
    padding: 10px;
  }

  .footer-icono,
  .footer-redes {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-redes img {
    margin: 10px;
  }
}
